$rojo: #B73131;
$hover: #891B1B;
$anaranjado: #E34F45;
$blanco: #FFFFFF;
$perlado:#F2F2F2;
$crudo: #EAEAEA;
$gris: #CCCCCC;
$grisClaro: #999;
$grisMedio: #888;
$grisFuerte: #666666;
$negroSuave: rgba(0,0,0,0.5);
$negroMedio: rgba(0,0,0,0.6);
$negroFuerte:#000000;